<div class="content">

  <h1>About Zettahash</h1>
  <h2>We're giving Bitcoin mining back to the public. We don't profit, you do.</h2>
  <br><br>
  <p>Zettahash was founded as an "unregulated” non-profit initiative, championed by industry pioneers. Our mission is to disrupt the increasing centralization of bitcoin mining and enable individuals worldwide to join forces for mutual financial gain.</p>
  <p>Having accumulated more than a decade of experience within the Bitcoin Mining sector, we have cultivated a network of collaborative partnerships with leading Tier 1 participants. This strategic alliance empowers our organization to establish a highly efficient and lucratively positioned stance.</p>
  <a class="btn" href="/black-paper">View the Black Paper <i class="i-arrow-right"></i></a>

</div>

<style lang="scss">
  @import './src/css/components/_constants.scss';

  .content{
      margin-top:40px;
    h1{color: var(--neutral-4);}
    h2{color: var(--secondary);}
    h1,h2,p{
      margin-bottom: 1rem;
    }
    > a {
    width: max-content;
    text-align: center;
    margin: 1rem auto;
    display: block;
  }
  }
</style>