<div class="content">
  <div class="head">
    <h2>Title</h2>
    <small><i class="i-check-circle"></i> Subtitle</small>
  </div>
</div>

<style lang="scss">
  @import './src/css/components/_constants.scss';

</style>
