<div class="content breathing-room  build-in-scroll" id="setp3">
  <div class="head">
    <h2>Step 3</h2>
    <small><i class="i-shopping-bag"></i> Purchase ZH</small>
  <a class="btn-link" href="#">Private Sale Terminal <i class="i-external-link"></i></a>

  </div>
  <!-- <div class="flex"> -->
    <div class="devices zoom-into-ui">
      <img class="macbook0" src="/src/img/macbook0-dark.webp">
      <!-- <video controls="false" class="macbook0-video" autoplay="true" loop="true">
        <source src="/src/video/purchase-preview.webm" type="video/webm" />
        <source src="/src/video/purchase-preview.mp4" type="video/mp4" />
      </video> -->
      <iframe class="macbook0-video" src="https://btcpay0.voltageapp.io/apps/nbtKUEJFpAPFjnwAmP9zyYQsF93/crowdfund"></iframe>
    </div>
    <div class="text-box">
      <!-- <h3>Add ZH Token to your Wallet</h3> -->
      <p>You can use the terminal above or open the <a href="#" class="url">Private Sale Terminal <i class="i-external-link"></i></a> in a new browser tab.</p>
      <br>
      <blockquote>
        <i class="i-alert-triangle"></i>Make note of your transaction hash.<br>Think of it as your blockchain transaction receipt.</blockquote>

      <!-- <a class="btn" href="#readMore">Read more <i class="i-arrow-right"></i></a> -->
    </div>
  </div>
</div>

