<div class="content breathing-room  build-in-scroll" id="setp3">
  <div class="head">
    <h2>Step 3</h2>
    <small><i class="i-shopping-bag"></i> Purchase ZH</small>
    <a class="btn-link" href="#">Private Sale Terminal <i class="i-external-link"></i></a>

  </div>
  <div class="devices zoom-into-ui laptop">
    <img class="macbook0" src="/src/img/macbook0-dark.webp">
    <div class="browser-window">
      <div class="window-frame">
        <div class="window-ui"></div>
      </div>
      <iframe class="macbook0-content"
        src="https://btcpay0.voltageapp.io/apps/nbtKUEJFpAPFjnwAmP9zyYQsF93/crowdfund"></iframe>
    </div>

  </div>
  <div class="text-box">
    <p>You can use the terminal above or open the <a href="#" class="url">Private Sale Terminal <i
          class="i-external-link"></i></a> in a new tab.</p>
    <br>
    <blockquote>
      <i class="i-alert-triangle"></i>Make note of your transaction hash.<br>Think of it as your blockchain transaction
      receipt.
    </blockquote>
  </div>
</div>
</div>
<style lang="scss">
  @import './src/css/components/_constants.scss';

  .devices {
    position: relative;

    &.zoom-into-ui {
      margin-top: calc(60px * (3 * var(--dec-raw)));
      margin-bottom: calc(40px * (3 * var(--dec-raw)));
      transform: scale(calc(0.9 + (var(--dec-raw) * 0.35)));

      &.laptop {
        &::before {
          content: "";
          display: block;
          position: absolute;
          height: 4%;
          top: 4%;
          background: black;
          width: 15%;
          z-index: 2;
          left: 0;
          right: 0;
          margin: auto;
          border-radius: 0 0 12px 12px;
        }

        @media (max-width: $small) {
          display: none;
        }
      }

      .macbook0 {
        max-width: $content;
        width: 100vw;
        position: relative;
        margin-left: 50%;
        transform: translateX(-50%);

        @media (max-width: $small) {
          display: none;
        }
      }

      .browser-window {
        position: absolute;
        top: 4%;
        width: 86%;
        left: 0;
        right: 0;
        margin: auto;
        max-width: calc(#{$content} * 0.78);
        display: grid;
        aspect-ratio: 17/11;
        border-radius: 10px;
        background: var(--neutral-10);
        grid-template-rows: auto 1fr;

        @media (max-width: $small) {
          position: relative;
          aspect-ratio: unset;
          height: 90vh;
        }

        .window-frame {
          height: 25px;
          background: var(--neutral-8);
          display: grid;
          align-content: center;
          border-radius: 10px 10px 0 0;

          .window-ui {
            height: 10px;
            aspect-ratio: 1/1;
            border-radius: 100px;
            background: var(--red);
            margin-left: 10px;
            position: relative;

            &::before,
            &::after {
              content: '';
              height: 100%;
              width: 100%;
              display: block;
              border-radius: 100px;
              position: absolute;
            }

            &::before {
              background: var(--amber);
              transform: translateX(170%);
            }

            &::after {
              background: var(--lime);
              transform: translateX(340%);
            }
          }

        }

        .macbook0-content {
          border: 0;
          border-radius: 0 0 10px 10px;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

</style>
