<div class="content breathing-room  build-in-scroll">
  <div class="head">
    <h2>Step 1</h2>
    <small><i class="i-shield"></i> Setup your Wallet</small>
  </div>
  <div class="flex">
    <div class="devices slide-by">
      <img class="iphone0" src="/src/img/iphone0.webp">
      <div class="iphone1 shadow"></div>
      <img class="iphone1" src="/src/img/iphone1.webp">
    </div>
    <div class="text-box">
      <h3>Add ZH Token to your Wallet</h3>
      <p>Copy Contract Address for ZH Token below and paste into your wallet.<br>
        <i class="i-clipboard"></i> <b><a title="Tap to copy to clipboard" class="click-to-copy">0x2c0e15190acb858bf74447928cbd8fb9709dcb19</a></b></p>
      <blockquote>
        <i class="i-alert-triangle"></i>Ensure you save your ZH Wallet Address and Wallet Recovery Seed Phrase words in a safe place.</blockquote>
        
        <p style="margin-top: 40px;">We recommend Trust: Crypto & Bitcoin Wallet (Developed by SIX DAYS LLC)<br>
        Get it on the <a href="#" class="link">App Store</a> or <a href="#" class="link">Google Play</a>
      
        </p><p>
        <a href="#"><img class="store-logo" src="/src/img/app-store.svg"></a>
&nbsp;
          <a href="#"><img class="store-logo" src="/src/img/google-play.svg"></a>
      </p>
      <!-- <a class="btn" href="#readMore">Read more <i class="i-arrow-right"></i></a> -->
    </div>
  </div>
</div>
