<div class="content breathing-room  build-in-scroll">
  <div class="head">
    <h2>Step 2</h2>
    <small><i class="i-shopping-bag"></i> Purchase Bitcoin</small>
  </div>
  <div class="flex">
    <div class="devices rotate-on-corner">
      <img class="ipad0" src="/src/img/ipad0.webp">
      <div class="ipad0 shadow"></div>
    </div>
    <div class="text-box">
      <!-- <h3>Add ZH Token to your Wallet</h3> -->
      <p>If you already have the desired amount of Bitcoin (BTC) in your wallet, then proceed to <a href="#step3">Step 3</a></p>
      <p>Otherwise, ensure you have $1,000 - $1M in Bitcoin (BTC) available in your wallet.</p>
      <blockquote>
        <i class="i-alert-triangle"></i>Only purchase Bitcoin from sources you trust.<br>Always double-check that the addresses you use for transactions match the desired address.</blockquote>

      <!-- <a class="btn" href="#readMore">Read more <i class="i-arrow-right"></i></a> -->
    </div>
  </div>
</div>

