$large: 1400px;
$content: 1200px;
$medium: 960px;
$small: 756px;
$x-small: 500px;

$font-large: 60px;
$font-medium: $font-large / 1.62;
$font-small: $font-medium / 1.62;
$title-line-height: 1.1;


$title: 'Orbitron', mono;
$font-family: 'Orbitron', Arial, Helvetica, sans-serif;
$sans-serif: 'Roboto', Arial, Helvetica, sans-serif;
