body {
  font-family: $font-family;
  background-color: var(--neutral-9);
  color: var(--neutral-1);
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.main-wrapper {
  overflow: hidden;
}
.main {
  max-width: $content;
  margin: 0 auto;
  > .content {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    max-width: $content;
  }
}

a {
  color: inherit;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}
.btn {
  display: inline-flex;
  font-size: 18px;
  padding: calc(2rem / #{$r}) calc((2rem / #{$r}) * 2);
  background: var(--primary);
  color: var(--neutral-8);
  transition: 200ms ease;
  cursor: pointer;
  line-height: 1;
  gap: 10px;
  border-radius: 100px;
  &:not(.disabled) {
    &:hover {
      background: var(--secondary);
      color: var(--neutral-10);
    }
  }
  &.disabled {
    cursor: not-allowed;
    background: var(--neutral-5);
  }
}

.btn-link {
  color: var(--secondary);
  box-shadow: 0 0 0 1px;
  padding: 5px 15px;
  border-radius: 100px;
  transition: 200ms ease;
  &:hover {
    background: var(--secondary);
    color: var(--neutral-10);
  }
}

.url {
  box-shadow: 0 2px 0 0;
  transition: 200ms ease;
  &:hover {
    color: var(--secondary);
  }
}

.store-logo {
  max-width: calc(45vw - 30px);
  height: 55px;
}
.content {
  margin-bottom: 200px;
  margin-top: 200px;
  max-width: $content;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  @media (max-width: $content) {
    margin-bottom: 150px;
    margin-top: 150px;
  }
  @media (max-width: $small) {
    margin-bottom: 100px;
    margin-top: 100px;
  }
  @media (max-width: $x-small) {
    margin-bottom: 80px;
    margin-top: 80px;
  }

  h2,
  h3,
  h4,
  p {
    margin: 0;
  }
  h2 {
    text-align: center;
    font-size: 40px;
    @media (max-width: $content) {
      font-size: 35px;
    }
    @media (max-width: $small) {
      font-size: 30px;
    }
    @media (max-width: $x-small) {
      font-size: 25px;
    }
  }
  h3 {
    font-size: 30px;
    @media (max-width: $content) {
      font-size: 28px;
    }
    @media (max-width: $small) {
      font-size: 25px;
    }
    @media (max-width: $x-small) {
      font-size: 22px;
    }
    i {
      font-size: 50px;
      margin-bottom: 1rem;
      @media (max-width: $content) {
        font-size: 45px;
      }
      @media (max-width: $small) {
        font-size: 40px;
      }
      @media (max-width: $x-small) {
        font-size: 35px;
      }
    }
  }
  p {
    font-family: $sans-serif;
    line-height: 1.5;
    font-size: calc(30px / #{$r});
    @media (max-width: $content) {
      font-size: calc(28px / #{$r});
    }
    @media (max-width: $small) {
      font-size: calc(25px / #{$r});
    }
    @media (max-width: $x-small) {
      font-size: calc(22px / #{$r});
    }
  }
  > p {
    max-width: 80%;
    text-align: center;
    margin: 1rem auto;
  }
  > small,
  .head small {
    margin: 1rem auto;
    width: 100%;
    text-align: center;
    display: block;
    color: var(--secondary);
    font-family: $sans-serif;
    font-size: #{40px};
    @media (max-width: $content) {
      font-size: #{35px};
    }
    @media (max-width: $small) {
      font-size: #{30px};
    }
    @media (max-width: $x-small) {
      font-size: #{25px};
    }
  }
  .head {
    position: relative;
    z-index: 2;
    text-align: center;
    // &::before {
    //   @media (max-width: $content) {
    //     height: calc(120% + 150px);
    //     margin-top: -150px;
    //   }
    //   @media (max-width: $small) {
    //     content: "";
    //     height: calc(120% + 100px);
    //     width: 100vw;
    //     margin-top: -100px;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     display: block;
    //     position: absolute;
    //     background: transparent;
    //     z-index: -1;
    //     backdrop-filter: blur(20px);
    //   }
    //   @media (max-width: $x-small) {
    //     height: calc(120% + 80px);
    //     margin-top: -80px;
    //   }
    // }
    h2 {
      text-align: center;
      font-size: 55px;
      @media (max-width: $content) {
        font-size: 50px;
      }
      @media (max-width: $small) {
        font-size: 45px;
      }
      @media (max-width: $x-small) {
        font-size: 40px;
      }
    }
  }
  blockquote {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 40px;
    font-family: $sans-serif;
    @media (max-width: $small) {
      flex-direction: column;
      text-align: center;
    }
    .i-alert-triangle {
      display: block;
      border-radius: 100px;
      font-size: 30px;
      color: var(--yellow);
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      background: var(--yellow);
      height: 100%;
      width: 100%;
      opacity: 0.1;
      border-radius: 30px;
      top: 0;
      left: 0;
    }
  }
  .fan {
    .item {
      h3 {
        font-size: 30px;
        @media (max-width: $content) {
          font-size: 28px;
        }
        @media (max-width: $small) {
          font-size: 25px;
        }
        @media (max-width: $x-small) {
          font-size: 22px;
        }
        i {
          font-size: 50px;
          margin-bottom: 1rem;
          @media (max-width: $content) {
            font-size: 45px;
          }
          @media (max-width: $small) {
            font-size: 40px;
          }
          @media (max-width: $x-small) {
            font-size: 35px;
          }
        }
      }
      p {
        font-family: $sans-serif;
        line-height: 1.5;
        font-size: calc(30px / #{$r});
        @media (max-width: $content) {
          font-size: calc(28px / #{$r});
        }
        @media (max-width: $small) {
          font-size: calc(25px / #{$r});
        }
        @media (max-width: $x-small) {
          font-size: calc(22px / #{$r});
        }
      }
    }
  }
  .fan-trio {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    @media (max-width: $medium) {
      flex-direction: column;
      justify-content: center;
    }
    .item {
      display: grid;
      gap: 20px;
      padding: 20px;
      border-radius: 20px;
      background-color: var(--neutral-8);
      width: calc(30vw - 60px);
      margin-bottom: auto;
      &:first-of-type {
        transition: 100ms ease;
        opacity: var(--dec);
        transform: translateX(calc(-50% + (var(--pc) * 0.5))) rotate(calc(-10deg + (var(--deg) * 0.1)));
        transform-origin: 100% 0%;
      }
      &:nth-of-type(2) {
        @media (max-width: $medium) {
          transition: 100ms ease;
          opacity: var(--dec);
          transform-origin: 0% 0%;
          transform: translateX(calc(50% - (var(--pc) * 0.5))) rotate(calc(10deg - (var(--deg) * 0.1)));
        }
      }
      &:last-of-type {
        transition: 100ms ease;
        opacity: var(--dec);
        transform: translateX(calc(50% - (var(--pc) * 0.5))) rotate(calc(10deg - (var(--deg) * 0.1)));
        transform-origin: 0% 0%;
        @media (max-width: $medium) {
          transform: translateX(calc(-50% + (var(--pc) * 0.5))) rotate(calc(-10deg + (var(--deg) * 0.1)));
        }
      }
      @media (max-width: $content) {
        width: 300px;
      }
      @media (max-width: $medium) {
        width: 100%;
      }
    }
  }
  .fan-quad {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    @media (max-width: $medium) {
      flex-direction: column;
      justify-content: center;
    }
    .item {
      display: grid;
      gap: 20px;
      padding: 20px;
      border-radius: 20px;
      background-color: var(--neutral-8);
      width: calc(25vw - 60px);
      margin-bottom: auto;
      transition: 100ms ease;
      opacity: 0;

      &:nth-of-type(1) {
        opacity: var(--dec);
        transform: translateX(calc(-50% + (var(--pc) * 0.5))) rotate(calc(-5deg + (var(--deg) * 0.05)));
        transform-origin: 100% 0%;
      }
      &:nth-of-type(2) {
        opacity: var(--dec);
        transform: translateX(calc(-25% + (var(--pc) * 0.25))) rotate(calc(-2deg + (var(--deg) * 0.02)));
        transform-origin: 100% 0%;
      }
      &:nth-of-type(3) {
        opacity: var(--dec);
        transform: translateX(calc(25% - (var(--pc) * 0.25))) rotate(calc(2deg - (var(--deg) * 0.02)));
        transform-origin: 0% 0%;
      }
      &:nth-of-type(4) {
        opacity: var(--dec);
        transform: translateX(calc(50% - (var(--pc) * 0.5))) rotate(calc(5deg - (var(--deg) * 0.05)));
        transform-origin: 0% 0%;
      }

      @media (max-width: $content) {
        width: 300px;
      }
      @media (max-width: $medium) {
        width: 100%;
      }
    }
  }
  .flex {
    display: flex;
    gap: 40px;
    margin-top: 60px;
    &.start {
      .text-box {
        margin-top: 0;
      }
    }
    @media (max-width: $small) {
      display: grid;
      justify-content: center;
    }
    .graphic {
      width: #{($content / 2) - 40px};
      max-width: 80vw;
      background-color: var(--neutral-8);
      border-radius: 30px;
      aspect-ratio: 1/1;
      &.clip {
        overflow: hidden;
      }
      &.stage {
        background: radial-gradient(var(--neutral-7), var(--neutral-5));
      }
      @media (max-width: $small) {
        grid-row: 1/2;
      }
      #pie-gradation {
        min-width: 200%;
        min-height: 200%;
        margin-left: 50%;
        transition: 100ms ease;
        transform: translateX(-50%) translateY(calc(-50% - (var(--pc) * 0.1))) rotate(var(--deg-raw));
        margin-top: 125%;
      }
      #chart-0 {
        transform: rotate3d(2, 2, 0, calc(66deg - (var(--deg-raw) * 0.6))) scale(1.2)
          translateX(calc(0% + (var(--pc-raw) * 0.1)));
      }
      #chart-1 {
        transform: rotate3d(2, 2, 0, calc(-66deg + (var(--deg-raw) * 0.6))) scale(1.2)
          translateX(calc(0% - (var(--pc-raw) * 0.1)));
      }
    }
    .text-box {
      // margin-left: unset;
      // margin-right: unset;
    }
  }
  .text-box {
    display: grid;
    justify-items: start;
    gap: 20px;
    width: #{($content / 2) - 40px};
    max-width: 80vw;
    margin-bottom: auto;
    margin: auto;

    @media (max-width: $medium) {
      margin: auto;
    }
    p {
      font-family: $sans-serif;
    }
  }
}
.click-to-copy {
  word-break: break-all;
}
