<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="canonical" href="$canonical">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- HTML Meta Tags -->
  <title>$title$name</title>
  <meta name="description" content="$description">
  <meta name="keywords"
    content="$keywords">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="$site">
  <meta property="og:type" content="website">
  <meta property="og:title" content="$title$name">
  <meta property="og:description" content="$description">
  <meta property="og:image" content="">
  
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="$site">
  <meta property="twitter:url" content="$site">
  <meta name="twitter:title" content="$title$name">
  <meta name="twitter:description" content="$description">
  <meta name="twitter:image" content="">

  <link rel="shortcut icon" type="image/png" href="/src/img/favicon.png" />

  <link rel="stylesheet" href="/src/css/file.css">
  <link rel="preload" href="/src/js/file.js" as="script">
  <link rel="prefetch" href="/src/js/file.js">

  <script>
    if(window.location.protocol != 'https:') {
      if(location.href.indexOf("808")<0)
      location.href = location.href.replace("http://", "https://")
    }
  </script>
</head>