<div class="media-credits">
  <ul>
    <li><a href="https://www.freepik.com/free-vector/microchip-processor-background_13109418.htm#query=asic&position=44&from_view=search&track=ais">Image by pikisuperstar</a> on Freepik</li>
    <li>Image by <a href="https://www.freepik.com/free-vector/technology-background-abstract-style_2334391.htm#query=circuit%20pattern&position=5&from_view=search&track=ais">Freepik</a></li>
    <li>Image by <a href="https://www.freepik.com/free-vector/black-smartphone_1359612.htm#query=iphone&position=12&from_view=search&track=sph">Freepik</a></li>
    <li><a href="https://www.freepik.com/free-vector/gradient-responsive-website-design_29626412.htm#page=2&query=macbook%20pro%20m1%20mockup&position=38&from_view=search&track=ais">Image by pikisuperstar</a> on Freepik</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  
</div>