<div class="content build-in-scroll blue">
  <h2>Community Consensus Forum</h2>
  <small><i class="i-compass"></i> The primary hub for Zettahash disducctions</small>

  <div class="flex">
    <div class="text-box">
      <h3>Shape the future of the project and keep yourself up-to-date.</h3>
      <p>The Zettahash Community Consensus Forum is the heartbeat of our vibrant and connected community. Here, members are welcome to to share insights, ask questions, and find solutions. </p><p>It is a hub for collaboration, a source of inspiration, and a platform where voices are heard. Join us in this dynamic space, where knowledge is freely exchanged, and ideas flourish.</p>
     
      <a class="btn-link" href="https://zettahash.flarum.cloud">Go to Community Consensus Forum <i class="i-external-link"></i></a>
    </div>
    <div class="graphic stage">
     <div class="right img"><img src="/src/img/community-forum.webp" class="img"></div>
    </div>
  </div>

</div>