<div class="content build-in-scroll blue">
  <h2>Community Consensus Forum</h2>
  <small><i class="i-compass"></i> The primary hub for Zettahash disducctions</small>

  <div class="flex">
    <div class="text-box">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
     
      <a class="btn-link" href="https://zettahash.flarum.cloud">Go to Community Consensus Forum <i class="i-external-link"></i></a>
    </div>
    <div class="graphic stage">
     <div class="right img"><img src="/src/img/community-forum.webp" class="img"></div>
    </div>
  </div>

</div>