<div class="hero">
<div class="hero-content">
  <h1><span class="type-target">We're giving Bitcoin mining back to the public.<br><span class="type-target-2"></span></span><span class="cursor"></span></h1>

  <a class="btn" href="#how-it-works">Learn more <i class="i-corner-right-down"></i></a>
</div>
</div>

<script>
  const heroHeadline = document.querySelector(".hero-content .type-target-2")
  // const text = "We're"
  const text = "We don't profit, you do."
// const cursor = document.querySelector(".hero-content .cursor");

const typingDelay = 80;
const newTextDelay = 2000; // Delay between current and next text
let charIndex = 0;

function type() {
  if (charIndex < text.length) {
    // if(!cursor.classList.contains("typing")) cursor.classList.add("typing");
    heroHeadline.innerHTML += text.charAt(charIndex);
    charIndex++;
    setTimeout(type, typingDelay);
  } 
}

document.addEventListener("DOMContentLoaded", function() { // On DOM Load initiate the effect
  if(text.length) setTimeout(type, newTextDelay + 250);
});

</script>