<div class="content build-in-scroll" id="how-it-works">
  <h2>How it works</h2>
  <small>Fundamentals of the Zettahash Project</small>
  <div class="fan fan-trio">

    <div class="item">
      <h3><i class="i-users"></i><br>Community-held Assets</h3>
      <p>Zettahash does not take any profits for itself, unlike current public and private companies. All assets belong
        to the Zettahash community. We operate outside of centralized authority</p>
    </div>

    <div class="item">
      <h3><i class="i-move"></i><br>Dynamic and Flexible</h3>
      <p>As the token's market price rises, so does Zettahash's mining operations. As mining operations accrue more
        profit, Zettahash's token value increases.</p>
    </div>

    <div class="item">
      <h3><i class="i-eye"></i><br>Public Transparency</h3>
      <p>Each transaction is openly recorded on the public blockchain network, ensuring the presence of transparent and
        easily confirmable Capital Expenditures (CapEx), Operational Expenditures (OpEx), revenue, and profit.</p>
    </div>
  </div>
</div>
