<div class="content build-in-scroll">
  <h2>Proof of Ledger</h2>
  <small><i class="i-book-open"></i> Securing Trust through Immutability</small>

  <div class="flex">
    <div class="graphic stage">
      <img src="/src/img/ledger.webp" class="left img">
    </div>
    <div class="text-box">
      <h3>Recordkeeping without doubt</h3>
      <p>Zettahash takes pride in its committment to maintaining a transarent ledger for every financial decision of the protocol.</p>
      <p>You can trust that your transactions with us are conducted with the highest level of integrity and openness. Zettahash embraces accountability and scrutiny.</p>
      <!-- <a class="btn" href="#readMore">Read more <i class="i-arrow-right"></i></a> -->
    </div>
  </div>

</div>