<div class="content">
  <h2>Proof</h2>
  <small><span style="opacity:.5">| pruːf | noun </span> Evidence establishing a fact <i class="i-check"></i></small>
  <p>In a landscape where trust is often decentralized and digital, the ability to prove ownership of assets plays a pivotal role in the broader success of Zettahash. Our ability to irrefutably demonstrate ownership ensures secure exchanges and a robust foundation for the Company. Trust can be a rare commodity, our power to prove ownership is key to confidence and credibility.</p>
</div>