<div class="content">
  <h2>Proof</h2>
  <small><span style="opacity:.5">| pruËf | noun </span> Evidence establishing a fact <i class="i-check"></i></small>
  <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
</div>