<div class="content build-in-scroll">
  <h2>Tokenomics</h2>
  <small><i class="i-ethereum"></i> Ethereum (ERC-20)</small>
  <small><i class="i-zap"></i> Lightning Smart Contracts</small>

  <div class="flex">
    <div class="graphic clip">
      <svg width="100%" height="100%" viewBox="0 0 1248 1248" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
        <rect id="pie-Artboard4" serif:id="pie Artboard4" x="0" y="0" width="1247.67" height="1247.67"
          style="fill:none;" />
        <g id="shadows">
          <g>
            <g id="big-shadow">
              <path
                d="M473.612,204.7c-231.461,83 -351.812,337.922 -268.812,569.382c82.945,231.306 338.077,351.756 569.383,268.812c160.523,-57.563 274.064,-201.758 292.37,-371.305l-442.656,-47.792l-150.285,-419.097Z"
                style="fill:url(#_pie_Linear1);" />
            </g>
            <g id="medium-shadow">
              <path
                d="M1051.44,499.734c-50.348,-173.55 -200.596,-299.451 -380.27,-318.648c-67.172,-7.177 -135.097,1.027 -198.629,23.992l-2.51,66.955l150.701,416.286l427.148,-122.504l3.56,-66.081Z"
                style="fill:#f8ba00;" />
              <clipPath id="_pie_clip2">
                <path
                  d="M1051.44,499.734c-50.348,-173.55 -200.596,-299.451 -380.27,-318.648c-67.172,-7.177 -135.097,1.027 -198.629,23.992l-2.51,66.955l150.701,416.286l427.148,-122.504l3.56,-66.081Z" />
              </clipPath>
              <g clip-path="url(#_pie_clip2)">
                <path
                  d="M622.55,623.794l223.961,-445.228c208.454,121.214 285.303,258.545 297.282,403.821l-519.896,117.161l-1.347,-75.754Z"
                  style="fill:#181818;fill-opacity:0.5;" />
              </g>
            </g>
            <g id="small-shadow">
              <path
                d="M1066.61,671.098c6.144,-57.505 1.026,-115.655 -15.068,-171.202l-427.641,123.901l0.077,62.749l429.417,52.512c2.878,-20.662 8.869,-49.723 13.215,-67.96Z"
                style="fill:#0040a0;" />
              <clipPath id="_pie_clip3">
                <path
                  d="M1066.61,671.098c6.144,-57.505 1.026,-115.655 -15.068,-171.202l-427.641,123.901l0.077,62.749l429.417,52.512c2.878,-20.662 8.869,-49.723 13.215,-67.96Z" />
              </clipPath>
              <g clip-path="url(#_pie_clip3)">
                <path d="M622.55,623.794l610.065,-222.614l-86.521,362.414l-523.544,-48.093l0,-91.707Z"
                  style="fill:#181818;fill-opacity:0.75;" />
              </g>
            </g>
          </g>
        </g>
        <g id="slices">
          <g>
            <g id="big-slice">
              <path
                d="M473.612,204.7c-231.461,83 -351.812,337.922 -268.812,569.382c82.945,231.306 338.077,351.756 569.383,268.812c160.523,-57.563 274.064,-201.758 292.37,-371.305l-442.656,-47.792l-150.285,-419.097Z"
                style="fill:none;" />
              <clipPath id="_pie_clip4">
                <path
                  d="M473.612,204.7c-231.461,83 -351.812,337.922 -268.812,569.382c82.945,231.306 338.077,351.756 569.383,268.812c160.523,-57.563 274.064,-201.758 292.37,-371.305l-442.656,-47.792l-150.285,-419.097Z" />
              </clipPath>
              <g clip-path="url(#_pie_clip4)">
                <rect x="-24.442" y="-52.337" width="1296.68" height="1275.67" style="fill:url(#_pie_Radial5);" />
              </g>
            </g>
            <g id="medium-slice">
              <path
                d="M1051.44,499.734c-50.348,-173.55 -200.596,-299.451 -380.27,-318.648c-67.172,-7.177 -135.097,1.027 -198.629,23.992l151.328,418.716l427.571,-124.06Z"
                style="fill:none;" />
              <clipPath id="_pie_clip6">
                <path
                  d="M1051.44,499.734c-50.348,-173.55 -200.596,-299.451 -380.27,-318.648c-67.172,-7.177 -135.097,1.027 -198.629,23.992l151.328,418.716l427.571,-124.06Z" />
              </clipPath>
              <g clip-path="url(#_pie_clip6)">
                <rect x="-24.442" y="-52.337" width="1296.68" height="1275.67" style="fill:url(#_pie_Radial7);" />
              </g>
            </g>
            <g id="small-slice">
              <path d="M1066.61,671.098c6.144,-57.505 1.026,-115.655 -15.068,-171.202l-427.641,123.901l442.709,47.301Z"
                style="fill:none;" />
              <clipPath id="_pie_clip8">
                <path
                  d="M1066.61,671.098c6.144,-57.505 1.026,-115.655 -15.068,-171.202l-427.641,123.901l442.709,47.301Z" />
              </clipPath>
              <g clip-path="url(#_pie_clip8)">
                <rect x="-24.442" y="-52.337" width="1296.68" height="1275.67" style="fill:url(#_pie_Radial9);" />
              </g>
            </g>
          </g>
        </g>
        <defs>
          <linearGradient id="_pie_Linear1" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(407.511,738.828,-738.828,407.511,354.481,312.664)">
            <stop offset="0" style="stop-color:#0040a0;stop-opacity:1" />
            <stop offset="0.62" style="stop-color:#003b92;stop-opacity:1" />
            <stop offset="0.82" style="stop-color:#002e71;stop-opacity:1" />
            <stop offset="1" style="stop-color:#001f4d;stop-opacity:1" />
          </linearGradient>
          <radialGradient id="_pie_Radial5" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(440.534,916.731,-916.731,440.534,391.254,204.7)">
            <stop offset="0" style="stop-color:#0062ff;stop-opacity:1" />
            <stop offset="1" style="stop-color:#4b099c;stop-opacity:1" />
          </radialGradient>
          <radialGradient id="_pie_Radial7" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(440.534,916.731,-916.731,440.534,391.254,204.7)">
            <stop offset="0" style="stop-color:#f8ba00;stop-opacity:1" />
            <stop offset="1" style="stop-color:#ff337e;stop-opacity:1" />
          </radialGradient>
          <radialGradient id="_pie_Radial9" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(440.534,916.731,-916.731,440.534,391.254,204.7)">
            <stop offset="0" style="stop-color:#f8ba00;stop-opacity:1" />
            <stop offset="1" style="stop-color:#4b099c;stop-opacity:1" />
          </radialGradient>
        </defs>
      </svg>
    </div>
    <div class="text-box">
      <h3>A Summary of Zettahash Tokenomics</h3>
      <p>We propose creating a new type of transparent and global publicly traded Bitcoin mining company. Instead of
        using traditional company "shares," we use a decentralized token, built first on the Ethereum blockchain,
        representing ownership in the company to it's token holders.</p>
      <!-- <a class="btn" href="#readMore">Read more <i class="i-arrow-right"></i></a> -->
    </div>
  </div>

  <div class="fan fan-quad build-in-scroll">

    <div class="item">
      <h3><i class="i-hash"></i><br>Zettahash Holdings Contract Wallet</h3>
      <p>Presenting the ZH Holdings smart contract for the community. Locked from circulation, it features mechanisms to
        disallow minting and an automated 1:1 burn protocol implementation.</p>
    </div>

    <div class="item">
      <h3><i class="i-local_fire_department"></i><br>Burning Token Supply</h3>
      <p>Upon executing a withdrawal from the ZH holdings contract, an automatic smart contract burn is triggered,
        resulting in a reduction of the total token supply at a one- to-one ratio, effectively leading to deflation.</p>
    </div>

    <div class="item">
      <h3><i class="i-coins"></i><br>Profits</h3>
      <p>All earned profits go into enhancing ZH's value through two methods: repurchasing Zettahash tokens at market
        price and re-deposited into the ZH Holdings contract, or directing funds to expand ongoing
        operations.</p>
    </div>

    <div class="item">
      <h3><i class="i-cpu"></i><br>Asset Acquisition</h3>
      <p>After the ZH token withdrawal and exchange, any Bitcoin or Fiat holdings retained by Zettahash are exclusively
        reserved for capital and operational expenses. These funds are devoted to expanding the community's bitcoin
        mining profitability through Zettahash.</p>
    </div>
  </div>
</div>

<style lang="scss">
  @import './src/css/components/_constants.scss';

  #big-slice {
    transform: translateX(calc(0% - (var(--pc-raw) * 0.1))) translateY(calc(0% + (var(--pc-raw) * 0.1)));
  }

  #big-shadow {
    transform: translateX(calc(0% - (var(--pc-raw) * 0.12))) translateY(calc(0% + (var(--pc-raw) * 0.16)));
  }

  #small-slice {
    transform: translateX(calc(0% + (var(--pc-raw) * 0.1))) translateY(calc(0% - (var(--pc-raw) * 0.05)));
  }

  #small-shadow {
    transform-origin: center;
    transform: translateX(calc(.5% + (var(--pc-raw) * 0.1))) translateY(calc(0% - (var(--pc-raw) * 0.05))) scaleY(calc(.3 + (var(--dec-raw) * 0.7))) rotateZ(calc(10deg - (var(--deg-raw) * (10/360))));
  }



  
  #medium-shadow {
    transform-origin: center;
    transform:translateX(calc(0% - (var(--pc-raw) * 0.05))) translateY(calc(-3% - (var(--pc-raw) * 0.06))) scale(calc(.8 + (var(--dec) * 0.2))) ;
  }
  #medium-slice {
    transform-origin: center;
    transform: translateX(calc(0% - (var(--pc-raw) * 0.05))) translateY(calc(0% - (var(--pc-raw) * 0.1))) scale(calc(.9 + (var(--dec) * 0.11)));
  }

  #shadows,
  #slices {
    transform-origin: center;
    transform: rotateX(calc(0deg - (var(--deg-raw) * .1))) rotateY(calc(-5deg - (var(--deg-raw) * .06))) scale(calc(1 + (var(--dec-raw) * 0.1)));

  }

</style>
