<div class="content build-in-scroll">
  <h2>Tokenomics</h2>
  <small><i class="i-ethereum"></i> Ethereum (ERC-20)</small>
  <small><i class="i-zap"></i> Lightning Smart Contracts</small>

  <div class="flex">
    <div class="graphic clip">
      <svg id="pie-gradation" width="100%" height="100%" viewBox="0 0 1248 1248" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><rect id="Artboard4" x="0" y="0" width="1247.67" height="1247.67" style="fill:none;"/><path d="M663.565,19.743c-26.457,-1.739 -53,-1.739 -79.457,-0l6.423,200.407c22.166,-1.826 44.445,-1.826 66.612,0l6.422,-200.407Zm-151.616,9.115c-26.058,4.896 -51.767,11.497 -76.96,19.76l56.06,192.515c21.015,-7.282 42.594,-12.822 64.519,-16.566l-43.619,-195.709Zm-144.586,46.535c-24.022,11.223 -47.281,24.01 -69.628,38.279l102.175,172.524c18.545,-12.279 38.068,-23.012 58.372,-32.09l-90.919,-178.713Zm-128.47,81.03c-20.477,16.844 -39.825,35.014 -57.922,54.392l141.87,141.694c14.909,-16.505 31.15,-31.756 48.558,-45.598l-132.506,-150.488Zm-104.284,110.434c-15.644,21.407 -29.866,43.817 -42.574,67.087l172.651,101.961c10.335,-19.694 22.273,-38.505 35.692,-56.242l-165.769,-112.806Zm-73.543,132.898c-9.829,24.625 -18.031,49.868 -24.553,75.567l192.584,55.822c5.112,-21.646 11.997,-42.835 20.584,-63.352l-188.615,-68.037Zm-38.182,147.012c-3.396,26.296 -5.063,52.786 -4.989,79.3l200.415,6.174c-0.43,-22.237 0.968,-44.472 4.183,-66.48l-199.609,-18.994Zm-0.422,151.89c3.25,26.314 8.223,52.386 14.889,78.049l195.654,-43.862c-5.947,-21.431 -10.122,-43.316 -12.482,-65.432l-198.061,31.245Zm37.364,147.222c9.692,24.679 20.994,48.695 33.831,71.894l178.6,-91.14c-11.09,-19.279 -20.576,-39.438 -28.362,-60.272l-184.069,79.518Zm72.804,133.305c15.524,21.493 32.443,41.945 50.647,61.222l150.323,-132.693c-15.536,-15.915 -29.738,-33.082 -42.46,-51.325l-158.51,122.796Zm103.667,111.011c20.383,16.958 41.856,32.559 64.282,46.704l112.601,-165.909c-19.007,-11.551 -37.031,-24.646 -53.89,-39.153l-122.993,158.358Zm128.018,81.743c23.959,11.356 48.638,21.127 73.877,29.25l67.804,-188.699c-21.282,-6.461 -41.997,-14.663 -61.934,-24.521l-79.747,183.97Zm144.325,47.338c26.031,5.041 52.364,8.367 78.83,9.959l18.746,-199.633c-22.22,-0.966 -44.324,-3.758 -66.086,-8.349l-31.49,198.023Zm151.563,9.959c26.466,-1.592 52.8,-4.918 78.83,-9.959l-31.489,-198.023c-21.763,4.591 -43.866,7.383 -66.087,8.349l18.746,199.633Zm149.278,-28.047c25.239,-8.123 49.918,-17.894 73.877,-29.25l-79.746,-183.97c-19.938,9.858 -40.652,18.06 -61.934,24.521l67.803,188.699Zm137.613,-64.289c22.426,-14.145 43.9,-29.746 64.282,-46.704l-122.992,-158.358c-16.86,14.507 -34.884,27.602 -53.89,39.153l112.6,165.909Zm117.302,-96.493c18.204,-19.277 35.123,-39.729 50.648,-61.222l-158.511,-122.796c-12.722,18.243 -26.923,35.41 -42.46,51.325l150.323,132.693Zm89.62,-122.633c12.838,-23.199 24.139,-47.215 33.831,-71.894l-184.069,-79.518c-7.785,20.834 -17.271,40.993 -28.362,60.272l178.6,91.14Zm56.307,-141.067c6.665,-25.663 11.638,-51.735 14.888,-78.049l-198.061,-31.245c-2.36,22.116 -6.534,44.001 -12.482,65.432l195.655,43.862Zm19.455,-150.639c0.074,-26.514 -1.593,-53.004 -4.989,-79.3l-199.609,18.994c3.215,22.008 4.614,44.243 4.183,66.48l200.415,-6.174Zm-18.618,-150.745c-6.522,-25.699 -14.724,-50.942 -24.553,-75.567l-188.614,68.037c8.586,20.517 15.471,41.706 20.584,63.352l192.583,-55.822Zm-55.521,-141.378c-12.709,-23.27 -26.931,-45.68 -42.575,-67.087l-165.769,112.806c13.42,17.737 25.357,36.548 35.693,56.242l172.651,-101.961Zm-88.937,-123.129c-18.096,-19.378 -37.445,-37.548 -57.921,-54.392l-132.507,150.488c17.409,13.842 33.649,29.093 48.558,45.598l141.87,-141.694Zm-116.764,-97.143c-22.347,-14.269 -45.606,-27.056 -69.628,-38.279l-90.919,178.713c20.304,9.078 39.828,19.811 58.372,32.09l102.175,-172.524Zm-137.253,-65.054c-25.194,-8.263 -50.902,-14.864 -76.961,-19.76l-43.618,195.709c21.924,3.744 43.503,9.284 64.519,16.566l56.06,-192.515Z" style="fill:#1c7526;"/></svg>
    </div>
    <div class="text-box">
      <h3>A Summary of Zettahash Tokenomics</h3>
      <p>We propose creating a new type of transparent and global publicly traded Bitcoin mining company. Instead of using traditional company "shares," we use a decentralized token, built first on the Ethereum blockchain, representing ownership in the company to it's token holders.</p>
      <!-- <a class="btn" href="#readMore">Read more <i class="i-arrow-right"></i></a> -->
    </div>
  </div>

  <div class="fan fan-quad build-in-scroll">

    <div class="item">
      <h3><i class="i-hash"></i><br>Zettahash Holdings Contract Wallet</h3>
      <p>Presenting the ZH Holdings smart contract for the community. Locked from circulation, it features mechanisms to disallow minting and an automated 1:1 burn protocol implementation.</p>
    </div>

    <div class="item">
      <h3><i class="i-local_fire_department"></i><br>Burning Token Supply</h3>
      <p>Upon executing a withdrawal from the ZH holdings contract, an automatic smart contract burn is triggered, resulting in a reduction of the total token supply at a one- to-one ratio, effectively leading to deflation.</p>
    </div>

    <div class="item">
      <h3><i class="i-coins"></i><br>Profits</h3>
      <p>All earned profits go into enhancing ZH's value through two methods: repurchasing Zettahash tokens at market price and re-deposited into the ZH Holdings contract, or directing funds to expand ongoing
        operations.</p>
    </div>

    <div class="item">
      <h3><i class="i-cpu"></i><br>Asset Acquisition</h3>
      <p>After the ZH token withdrawal and exchange, any Bitcoin or Fiat holdings retained by Zettahash are exclusively reserved for capital and operational expenses. These funds are devoted to expanding the community's bitcoin mining profitability through Zettahash.</p>
    </div>
  </div>
</div>
